body {
  background: url('./images/texture.jpeg') no-repeat center center fixed; /* Update the path if necessary */
  background-size: cover; /* Make sure the background covers the entire viewport */
  margin: 0;
  font-family: Arial, sans-serif;
  color: black; /* Adjust text color if necessary */
}